nav{
    
    display: flex;
    border: 2px solid black;
    justify-content: center;
    
}
nav div{
    padding: 8px;
}

header h1{
    text-align:center;
}

#centerDiv{
   
    border: 2px solid black;
    display:flex;
}

/*#userImg{*/
/*    border: 2px solid red;*/
/*}*/

footer button{
    /*content: center;*/
    padding:15px;
    /*border: 2px;*/
}
footer{
    
    border: 2px solid green;
}
