#output {
    width: 100% !important;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px; 
    border: 2px;
    border: 2px solid #ced4da;
    background-color: white;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}
header {
    width: 80% !important;
    color: #7ed321;
    font-weight: 700 !important;
}
label{
    color: #7ed321;
}
.container {
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: 'Roboto', sans-serif !important;
  border: 2px solid #ced4da !important;
  width: 70% !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)!important;
}
label {
  margin-top: 6px;
  margin-bottom: 1px;
  font-weight: 700 !important;
}
.form-control{
 height: calc(1.2em + .65rem + 1px) !important;
    
}
.custom-select {
    width: 100% !important;
}
#button {
    width: 100% !important;
    margin-bottom: 5px;
    margin-top:8px;
    background-color: #7ed321 !important;
    border-color: #7ed321 !important;
}