#LogInBody{
    /*border: 2px red solid;*/
    margin: 100px;
    padding: 50px;
    background-image: linear-gradient(#f7a23b, #f7b76a , #eacba6) ;
    /*font-family: monospace;*/
}

/*#submitButton{*/
/*    background-color: red;*/
/*}*/
