/*.head{

	border: solid 2px black;
}
.body{
	display: flex;
	border: solid 2px black;
}
.foot{
	border: solid 2px black;
}
.rightDiv{
	border: solid 2px red;

}
.leftDiv{
	border: solid 2px red;
	
}*/